
@font-face {
    font-family: face;
    src: url(Nougat-ExtraBlack.ttf);
}

body{
    background-image: url("img/Blue_background_Brawl_Stars.jfif");
}
.pergunta{
    font-family: face;
    color: white;
    text-shadow: 3px;
    text-shadow: 6px 2px 0px #000000;
    margin-left: 4%;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.quest{
    display: flex;
    background-color: #e9b200;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-top: hsl(46, 100%, 71%);
    border-top-style: solid;
    border-top-width:5px;
    border-bottom: hsl(34, 87%, 41%);
    border-bottom-style: solid;
    border-bottom-width:5px;
    border-radius: 3px;
}
.escrit{
    font-family: face;
    color: white;
    text-shadow: 3px;
    text-shadow: 6px 2px 0px #000000;
}

.boxper{
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
}
.options{
    background-color: rgb(19, 49, 75,0.6);
    display: flex;
    border-radius: 10px;
    
}
ul{
   list-style-type: none;
}
.perg{
    display: flex;
    background-color: rgb(48, 55, 87);
    border-radius: 5px;
    height: 60px;
    border-color: #000000;
    border-top: #8d7292;
    align-items: center;
    border-style: solid;
    width: 36%;
}
.q{
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: face;
    color: white;
    font-size: 50px;
    letter-spacing: -2px;
    text-shadow: 60px;
    text-shadow: 6px 4px 0px #000000;
    line-height: 155%;
    margin-bottom: 40px;
}
#seg_lin{
    color: red;
    letter-spacing: -2px;
}
#pin{
    margin-left: 10px;
}
.ocultar{
    display: none;
}
.op{
    background-color: rgb(6, 27, 44);
    opacity: 0.8;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    font-family: face;
    border-color: #000000;
    color: white;
    margin-top: 1%;
    margin-left: 1%;
    height: 45px;
}
.lista_de_opcoes{
    width: 100%;  
}

#btnresul {
    display: flex;
    background-color: #e9b200;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-top: hsl(46, 100%, 71%);
    border-top-style: solid;
    border-top-width:5px;
    border-bottom: hsl(34, 87%, 41%);
    border-bottom-style: solid;
    border-bottom-width:5px;
    padding: 10px;
    border-radius: 3px;
}

.brawler{
    display: flex;
    justify-content: end;
}
    .alinhamento{
        display: flex;
    }
@media (width < 830px) {
    .brawler{
        display: none;
    }
    .op{
        margin-left: 1%;
        margin-right: 1%;
        height: auto;
    }
    .alinhamento{
        display: flex;
        height: 80px;
        justify-content: center;
    }
    .perg{
        display: flex;
        justify-content: center;
        height: 80px;
        width: 80%;
    }
    .pergunta{
        
        justify-content: center;

    }
    .options{
        padding-bottom: 10px;
    }
    .q{
        font-size: 30px;
        margin-bottom: 40px;
    }
    
}